@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Styles/css/header.css"/>
    <link rel="stylesheet" href="~/Styles/css/para.css">
</head>
<body>
    <div class="header">
        <h1>Welcome</h1>
        <h2>Welcome</h2>
        <h3>Welcome</h3>
        <h4>Welcome</h4>
        <h5>Welcome</h5>
    </div>
    <div class="para">
        <p>Welcome</p>
        <p>Welcome</p>
        <p>Welcome</p>
        <p>Welcome</p>
    </div>
    <input type="button" value="clik me ..!" id="btnClick"/><br/>
    <label id="lblMessage"></label>
    <script type="text/javascript" src="~/scripts/js/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="~/scripts/js/implementCall.js"></script>
    <script type="text/javascript" src="~/scripts/js/makeCall.js"></script>
</body>
</html>
