/*For Body*/
body{
    background-color:#f9f9f9;
}
/*For Navigation Bar*/
.navContainer ul{
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    background-color:#f3f3f3;
    opacity:1.0;
    border-bottom:1px solid black;
}
.navContainer ul li{
    float:left;
    padding:12px 16px;   
}
.navContainer ul li a:hover{
    background-color:black;
    opacity:0.7;
    color:white;
}
li.dropDown{
    display:inline-block;
}
.dropDownContent{
    z-index:1;
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    min-width:160px;
    top:50px;
    left:320px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a{
    color:black;
    padding:10px 10px;
    display:block;
    text-align:left;
    border-bottom:1px solid black;
}

li.dropDown:hover .dropDownContent{
    display:block;
}
.dropDownContent a:hover {
    background-color:rgba(0,0,0,0.2)
}


/*For Aside section, i.e Quick Links*/
.MainContainer{
    position:relative;
}
aside{
    position:absolute;
    float:left;
}
#quickLink1,#quickLink2,#quickLink3
{
    width:200px;
    position:absolute;
}
#quickLink1 h3,#quickLink2 h3,#quickLink3 h3{
   margin:0px;
   border-bottom:1px solid black;
   background-color:#f3f3f3;
   position:absolute; 
   width:200px;
}
#quickLinkContent1 a,#quickLinkContent2 a,#quickLinkContent3 a{
    padding:5px;
}

#quickLink2{
    top:170px;
}
#quickLink3{
    top:340px;
}
#quickLinkContent1
{
    top:25px;
}
#quickLinkContent2
{
    top:195px;    
}
#quickLinkContent3
{
    top:365px;
}
#quickLinkContent1,#quickLinkContent2,#quickLinkContent3
{
     width:200px;
     height:100px;
     display:none;
     border:1px solid black;  
     position:absolute;
}
.quickImg{
    width:20px;
}

/*For Setcion*/
section{
    position:relative;
    float:left;
    left:230px;
    z-index:0;
}
#welcomePara{
    margin:0px;
    padding-bottom:10px;
}
#tblForm{
    width:700px;
    border:1px solid black;
}
#tblForm td{
    padding:5px;
    border:1px solid black;
    border-collapse:collapse;
}
table{
    border-collapse:collapse;
}
#tblForm tr{
    background-color:aliceblue;
}
#btnSave:hover{
    background-color:#b7d7f3;
    color:white;
    cursor:pointer;
}
#tblUsers{
 padding:20px;
 width:700px;
}
#tblUsers tr,td,th{
    border:1px solid black;
}
#tblUsers th{
    background-color:#f3f3f3;
}
#tblUsers tr{
    background-color:antiquewhite;
}

#tblUsers tr td input:hover{
    background-color:rgba(0,0,0,0.2);
    color:white;
    cursor:pointer;
}

#tblUsers tr td input{
    width:50px;
}

 /*for pagination*/

ul.pagination 
{
    position:absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    float:left;
}

ul.pagination li {display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}