@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Carwale Assignment</title>
    <link rel="stylesheet" href="~/Content/CarwaleUICss.css" />
</head>
<body>
    <div>
        <nav class="navContainer">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li class="dropDown">
                    <a href="#" class="dropBtn">Contact</a>
                    <div class="dropDownContent">
                        <a href="#">Advertising</a>
                        <a href="#">Marketing</a>
                        <a href="#">Sales</a>
                        <a href="#">The CEO</a>
                    </div>

                </li>
                <li style="float:right"><b><span><i>Garule Prabhudas(Carwale Assignment)</i></span></b></li>
            </ul>
        </nav>
    </div>
    <h2>Sample Website</h2>
    <div class="MainContainer">
        <aside>
            <div id="quickLink1">
                <h3><img class="quickImg" id="quickImg1" src="~/Content/plus.png" alt="+" />QuickLink1</h3>
            </div>
            <div id="quickLinkContent1">
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
            </div>
            <div id="quickLink2">
                <h3><img class="quickImg" id="Img1" src="~/Content/plus.png" alt="+" />QuickLink2</h3>
            </div>
            <div id="quickLinkContent2">
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
            </div>
            <div id="quickLink3">
                <h3><img class="quickImg" id="Img2" src="~/Content/plus.png" alt="+" />QuickLink3</h3>
            </div>
            <div id="quickLinkContent3">
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
                <a href="#">Link1</a><br />
            </div>
        </aside>

        <section>
            <p id="welcomePara"> Welcome to Our sample page.</p>
            <div id="profileForm">
                <table id="tblForm">
                    <tr style="background-color:#e4e1e1"><td><h3 style="margin:0px">Create Profile</h3></td></tr>
                    <tr>
                        <td>
                            <label for="firstName">&nbsp;&nbsp;&nbsp;First Name:</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" name="firstName" id="firstName" />
                            <label id="lblFirstName" style="color:red"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="lastName">&nbsp;&nbsp;&#32Last Name:&#32</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" name="lastName" id="lastName" />
                            <label id="lblLastName" style="color:red"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="DoB">Date of Birth:</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select id="month">
                                <option value="-1">month</option>
                                <option value="0">January</option>
                                <option value="1">Febraury</option>
                                <option value="2">March</option>
                                <option value="3">April</option>
                            </select>
                            <select id="day">
                                <option value="-1">day</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                            </select>
                            <select id="year">
                                <option value="-1">year</option>
                                <option value="1">1993</option>
                                <option value="2">1994</option>
                                <option value="3">1995</option>
                                <option value="4">1996</option>
                                <option value="5">1997</option>
                                <option value="6">1998</option>
                                <option value="7">1999</option>
                            </select>
                            <label id="lblDoB" style="color:red"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="gender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gender:</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Male:<input type="radio" value="1" name="gender" />
                            Female:<input type="radio" value="2" name="gender" />
                            <label id="lblGender" style="color:red"></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" value="save" name="save" id="btnSave" onclick="validateInput()" />
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div>
                <table id="tblUsers">
                    <caption><h3 style="margin:0px">User profile</h3></caption>
                    <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody data-bind="foreach:tblData">
                        <tr>
                            <td data-bind="text:firstName"></td>
                            <td data-bind="text:lastName"></td>
                            <td data-bind="text:DoB"></td>
                            <td data-bind="text:gender"></td>
                            <td><input type="button" value="edit" data-bind="click:updateUser.bind($data,$data)" /></td>
                            <td><input type="button" value="delete" data-bind="click:deleteUser.bind($data,$data)" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </section>
    </div>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script type="text/javascript" src="~/Content/knockoutTblBind.js"></script>
    <script type="text/javascript" src="~/Content/jqueryValidate.js"></script>
</body>
</html>